{% extends 'base.html.twig' %}

{% block stylesheets %}
    
{% endblock %}

{% block title %}
    Hello {{ name }}!
{% endblock %}

{% block body %}
    <p>
        Hello {{ name|upper }}!
    </p>
{% endblock %}